mixin one-checkbox(value)
  div.checkbox-button
    label.checkbox-container= value
      input(type="checkbox")
      span.checkmark
script(src='../../src/js/components/ui-kit/form-elements/one-checkbox.js')