mixin one-radio(value, id)
  div.radio-button
    label.radio-container= value
      input(type="radio" name=id)
      span.radiomark
script(src='../../src/js/components/ui-kit/form-elements/one-radio.js')