@import "src/scss/components/utils/mixins.scss";
@import "../utils/global-vars.scss";
h1{
  @include h1;
}
h2{
  @include h2;
}
h3{
  @include h3;
}
p{
  @include p;
}
.p-light{
  @include p-light;
}
.logo-kit{
  margin:30px 30px;
}
.colors-palette{
  margin: 33px 0 0 150px;
  .one-color{
    margin-top:20px;
    .color-name{
      padding-top:9px ;
      padding-bottom:15px;
      margin-bottom: 0px;
    }
    .color-description{
      padding:0;
      margin:0;
      margin-top:-10px;
    }
    .color-name,
    .color-description{
      margin-left: 110px;
      vertical-align: middle;
    }
    &::before{
      content: "";
      display: block;
      position: fixed;
      margin-right: 40px;
      width:70px;
      height: 70px;
      background-color: $darkShade100;
      border-radius: 6px;
  }
}
}