@import "src/scss/components/utils/mixins.scss";
@import "src/scss/components/utils/global-vars.scss";
@import "colors-and-types/one-color.scss";
@import "colors-and-types/one-text.scss";
@import "form-elements/one-text-field.scss";

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

p {
  @include p;
}

.p-light {
  @include p-light;
}

.containter {
  width: auto;
  margin: 0 auto;
}

.logo-kit {
  margin: 30px 30px;
}

.colors-palette {
  margin: 33px 0 0 149px;
  padding-bottom: 145px;
  @include one-color(1, $darkShade100);
  @include one-color(2, $darkShade75);
  @include one-color(3, $darkShade50);
  @include one-color(4, $darkShade25);
  @include one-color(5, $darkShade5);
  @include one-color(6, $purple);
  @include one-color(7, $green);
}

.text-palette {
  float: right;
  margin: 95px 102px 1px 0;
  width: 336px;
  @include one-text(1, 'H1', 24);
  @include one-text(2, 'H2', 19);
  @include one-text(3, 'H3', 12);
  @include one-text(4, 'Body', 14);
    &::after{
      content: "";
      display: table;
      clear: both;
    }
}
.forms-palette{
  margin:29px 0 130px 141px;
  padding:0;
  @include one-text-field(1,"Default");
  @include one-text-field(2,"Hover / Focus")
}
.buttons-palette{
  position: relative;
  top: -178px;
  left: 445px;
  display:inline-block;
  .checkbox-buttons{
    margin-top:18px;
    .checkbox-button{
      padding-bottom: 30px;
      .checkbox-container{
        @include p;
        line-height:18px;
        margin-left:30px;
        float:left;
        width:192px;
        white-space: normal;
        &::after{
          content: "";
          display: table;
          clear: both;
        }
        input[type="checkbox"]{
          position:absolute;
          width:0;
          height:0;
        }
        .checkmark{
          position:absolute;
          left:-1px;
          bottom:1px;
          height:20px;
          width:20px;
          border:1px solid $darkShade25;
          box-sizing: border-box;
          border-radius: 4px;
        }
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }
        input[type="checkbox"]:checked ~ .checkmark{
          border-color:$purple;
          &::after{
            display: block;
          }
        }
        .checkmark:after{
          content:"";
          left:6px;
          top:4px;
          width:4px;
          height:6px;
          border: solid;
          border-image:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) round;
          border-image-slice: 1;
          border-width:0 2px 2px 0;
          transform:rotate(45deg);
        }
      }
    }
  }
}