mixin one-text_h1(textContent)
  div.one-text
    h1.text-content= textContent

mixin one-text_h2(textContent)
  div.one-text
    h2.text-content= textContent

mixin one-text_h3(textContent)
  div.one-text
    h3.text-content= textContent

mixin one-text_p(textContent)
  div.one-text
    p.text-content= textContent

script(src='../../src/js/components/ui-kit/colors-and-types/one-text.js')