include one-color.pug
include one-text.pug
div.container
  img(src="../static/vectors/logo-inactive.svg").logo-kit
  div.text-palette
    +one-text_h1('This one is the sub-section or widget title')
    +one-text_h2('Next one is the item title inside widgets')
    +one-text_h3('This is a label or CTA text')
    +one-text_p('This is the body text which is used for most of the design, like paragraphs, lists, etc.')
  div.colors-palette
    +one-color('Dark Shade 100%', '#1f2041')
    +one-color('Dark Shade 75%', '#1f2041')
    +one-color('Dark Shade 50%', '#1f2041')
    +one-color('Dark Shade 25%', '#1f2041')
    +one-color('Dark Shade 5%', '#1f2041')
    +one-color('Purple', '#bc9cff')
    +one-color('Green', '#6fcf97')
  div.container
    img(src="../static/vectors/logo-inactive.svg").logo-kit
    div.forms-palette
      div.text-field-container
        label(for="text-field").text-field-label Text field
        input(type="text", name="text-field").text-field
script(src='../../src/js/components/ui-kit/basic-kit.js')