
//- h1 testing h1
//- h2 testing h2
//- h3 testing h3
//- p testing p
div.container
  img(src="../static/vectors/logo-inactive.svg").logo-kit
  div.text-palette
      div.one-text
        h1.text-content This one is the sub-section or <br> widget title
      div.one-text
        h2.text-content Next one is the item title inside <br> widgets
  div.colors-palette
    div.one-color
      h2.color-name Dark Shade 100%
      p.color-description.p-light #1f2041
    div.one-color
      h2.color-name Dark Shade 75%
      p.color-description.p-light #1f2041
    div.one-color
      h2.color-name Dark Shade 50%
      p.color-description.p-light #1f2041
    div.one-color
      h2.color-name Dark Shade 25%
      p.color-description.p-light #1f2041
    div.one-color
      h2.color-name Dark Shade 5%
      p.color-description.p-light #1f2041
    div.one-color
      h2.color-name Purple
      p.color-description.p-light #bc9cff
    div.one-color
      h2.color-name Green
      p.color-description.p-light $green
script(src='../../src/js/components/ui-kit/basic-kit.js')