nav.header_navbar
  ul.header_navbar--list
    li: a.header_navbar--list_item(href="#") Главная
    li: a.header_navbar--list_item(href="#") Блог
    li: a.header_navbar--list_item(href="#") Сообщество
    li: a.header_navbar--list_item(href="#") Что-то еще
  h1 testing header
script(src='../../src/js/components/ui-kit/navbar.js')