mixin one-text-field(number, value)
  div.text-field-container
    label(class="text-field-label",) Text field
    input(type="text", class="text-field")
script(src='../../src/js/components/ui-kit/one-text-field.js')