@import "src/scss/components/utils/global-vars.scss";

@font-face {
  font-family: 'Quicksand-Bold';
  font-weight: bold;
  src: url('../../../static/fonts/quickSand_bold/Quicksand-Bold_df5ccd3628ec30ca750b7a6c1f1d6dac.eot');
  src: url('../../../static/fonts/quickSand_bold/Quicksand-Bold_df5ccd3628ec30ca750b7a6c1f1d6dac.woff') format('woff'), url('../../../static/fonts/quickSand_bold/Quicksand-Bold_df5ccd3628ec30ca750b7a6c1f1d6dac.ttf') format('truetype'), url('../../../static/fonts/quickSand_bold/Quicksand-Bold_df5ccd3628ec30ca750b7a6c1f1d6dac.svg') format('svg');
  }
@font-face{
  font-family: 'Montserrat-Bold';
  font-weight: bold;
  src: url('../../../static/fonts/montserrat_bold/Montserrat-Bold.eot');
  src: url('../../../static/fonts/montserrat_bold/Montserrat-Bold.woff') format('woff'), url('../../../static/fonts/montserrat_bold/Montserrat-Bold.ttf') format('truetype'), url('../../../static/fonts/montserrat_bold/Montserrat-Bold.svg') format('svg');
}
@font-face{
  font-family: 'Montserrat-Normal';
  font-weight: normal;
  src: url('../../../static/fonts/montserrat_normal/Montserrat-Normal.eot');
  src: url('../../../static/fonts/montserrat_normal/Montserrat-Normal.woff') format('woff'), url('../../../static/fonts/montserrat_normal/Montserrat-Normal.ttf') format('truetype'), url('../../../static/fonts/montserrat_normal/Montserrat-Normal.svg') format('svg');;
}