//main colors
$darkShade100:rgba(31, 32, 65, 1);
$darkShade75:rgba(31, 32, 65, 0.75);
$darkShade50:rgba(31, 32, 65, 0.5);
$darkShade25:rgba(31, 32, 65, 0.25);
$darkShade5:rgba(31, 32, 65, 0.05);
$purple:#bc9cff;
$green:#6fcf97;

//gradients
$stock-gradient:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);