@import "../utils/global-vars.scss";
@import "../utils/fonts.scss";

@mixin h1 {
  font-family: Quicksand-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: $darkShade100;
}

@mixin h2 {
  font-family: Quicksand-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  color: $darkShade100;
}

@mixin h3 {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: $darkShade100;
}

@mixin p {
  font-family: Montserrat-Normal;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: $darkShade75;
}

@mixin p-light {
  font-family: Quicksand-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  color: $darkShade100;
}