@import "src/scss/components/utils/global-vars.scss";
@import "src/scss/components/utils/fonts.scss";

@mixin h1 {
  @include quickSand_regular;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: $darkShade100;
}