@import "../utils/global-vars.scss";
@import "../utils/fonts.scss";

@mixin h1 {
  font-family: Quicksand-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: $darkShade100;
}

@mixin h2 {
font-family: Quicksand-Bold;
font-style: normal;
font-weight: bold;
font-size: 19px;
color: $darkShade100;
}